html,
body {
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: 100%;

  --font-size-small: 16px;
  --font-size-medium: 24px;
  --font-size-large: 36px;

  --color-secondary: white;
  --bg-color-error: red;
  --bg-color-primary: blue;
  --bg-color-success: green;
  --bg-color-locked: grey;
  --bg-color-notice: grey;
}

h1 {
  margin: 1em 0em;
}

section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 16px 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button {
  font-size: var(--font-size-small);
  padding: 8px;
  border: none;
  width: 200px;
  cursor: pointer;
}

.free {
  .day-title {
    padding-top: 24px;
  }

  .unlocked-days {
    font-weight: 600;
    color: var(--bg-color-primary);
    font-size: var(--font-size-medium);
  }

  #current-day {
    font-size: var(--font-size-large);
  }

  .locked-days {
    background-color: var(--bg-color-locked);
    border-radius: 4px;
    color: var(--color-secondary);
  }

  dialog {
    margin: 48px;
    align-self: center;
    justify-self: center;

    .locked-feature {
      font-size: var(--font-size-medium);
      color: var(--bg-color-error);
      text-align: center;
    }

    button {
      margin-top: 16px;
      background-color: var(--bg-color-primary);
      border-radius: 4px;
      width: 100%;
      color: var(--color-secondary);
      cursor: pointer;
    }
  }
}

.upgrades {
  .upgrade {
    margin-top: 16px;
    background-color: var(--bg-color-success);
    border-radius: 4px;
    color: var(--color-secondary);
  }

  .upgrade-note {
    font-size: 14px;
    color: var(--bg-color-notice);
    margin-top: 4px;
  }

  .error {
    color: var(--bg-color-error);
    margin-top: 8px;
  }
}

.hidden {
  display: none;
}
