html,
body {
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: 100%;

  --font-size-medium: 24px;
  --font-size-large: 36px;
}

h1 {
  margin: 1em 0em;
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.day-title {
  padding-top: 24px;
}

.unlocked-days {
  font-size: var(--font-size-large);
  font-weight: 600;
  color: blue;
}

.upcoming {
  font-size: var(--font-size-medium);
}

.locked-days {
  background-color: grey;
  border-radius: 4px;
  width: 100%;
  height: var(--font-size-medium);
  color: white;
  cursor: pointer;
}

dialog {
  margin: 48px;
  align-self: center;
  justify-self: center;

  .locked-feature {
    font-size: var(--font-size-medium);
    color: red;
    text-align: center;
  }

  button {
    margin-top: 16px;
    background-color: blue;
    border-radius: 4px;
    width: 100%;
    height: var(--font-size-medium);
    color: white;
    cursor: pointer;
  }
}

.upgrade {
  margin-top: 16px;
  background-color: green;
  border-radius: 4px;
  width: 100%;
  height: var(--font-size-medium);
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}
